<!DOCTYPE html>
<html>
<head>
	<title>Jeu de poker</title>
	<link rel="stylesheet" href="../public/stylesheets/bootstrap.css" type="text/css" media="all" />
	<link rel="stylesheet" href="../public/stylesheets/style.css" type="text/css" media="all" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12 joueur1">
				<img class="image_carte" src="../public/images/dos_carte.png">
				<img class="image_carte" src="../public/images/dos_carte.png">
			</div>
		</div>
		<div class="row">
			<div class="col-md-2 joueur4">
				<div class="col-md-6">
					<img class="image_carte" src="../public/images/dos_carte.png">
				</div>
				<div class="col-md-6">
					<img class="image_carte" src="../public/images/dos_carte.png">
				</div>
			</div>
			<div class="col-md-8 table">
				<img class="image_carte" src="../public/images/dos_carte.png">
				<img class="image_carte" src="../public/images/dos_carte.png">
				<img class="image_carte" src="../public/images/dos_carte.png">
				<img class="image_carte" src="../public/images/dos_carte.png">
				<img class="image_carte" src="../public/images/dos_carte.png">
			</div>
			<div class="col-md-2 joueur2">
				<div class="col-md-6">
					<img class="image_carte" src="../public/images/dos_carte.png">
				</div>
				<div class="col-md-6">
					<img class="image_carte" src="../public/images/dos_carte.png">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 joueur3">
				<img class="image_carte" src="../public/images/dos_carte.png">
				<img class="image_carte" src="../public/images/dos_carte.png">
			</div>
		</div>
	</div>
</body>
</html>